.pro-item {
    overflow: hidden;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    justify-content: center;
    margin: 20px 0;
}

.pro-item .card {
    width: 300px;
    margin: 10px auto;
}

.pro-item .card-img-top {
    height: 260px;
    width: 100%;
    padding: 0px 20px;
}

.pro-item .card-title {
    overflow: hidden;
    text-overflow: ellipsis;
    text-transform: capitalize;
    white-space: nowrap;
}

.pro-item .btn {
    width: 100%;
    margin: 5px 0px;
}

.btn-pastel {
    letter-spacing: 2px;
    background-color: rgba(255, 154, 162, 0.8);;
}

/*Product detail*/
.product-detail .img-thumbnail  {
    border: none;
}

.product-detail .img-detail {
    height: 400px;
    margin-top: 25px;
}

.product-detail .img-de-mo {
    height: 80px;
    width: 20%;
}

.product-detail .img-de-mo .active {
    border: red;
}

/* Manage product page */
.img-up .file-img {
    position: relative;
    width: 25%;
    height: 100%;
    cursor: pointer;
}

.img-up .file-img:nth-of-type(1) {
    width: 100%;
    height: 350px;
}

.img-up .file-img img {
    width: 100%;
    height: 100%;
    display: block;
    object-fit: cover;
}

.img-up .file-img span {
    position: absolute;
    top: -1px;
    right: -2px;
    z-index: 4;
    background: white;
    color: black;
    padding: 3px 7px;
    border-radius: 50%;
    font-size: 10px;
    font-weight: bolder;
    border: 1px solid black;
}
